.card {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-header {
    background: white;
    border-bottom: none;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 400px;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-body span {
    font-size: 14px;
    color: gray;
  }
  