
.ullike {
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

.like {
    font-size: 30px;
    color: rgb(29, 67, 206);
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s ease;
}

.like:hover {
    color: rgb(0, 102, 255);
    transform: scale(1.2);
}

.follow-btn spam{
    margin-left: 10px;
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;
}

.follow-btn spam:hover{
    color: rgb(41, 40, 40);
}

.flying-like {
  position: absolute;
  bottom: 50px; /* start a bit above the like button */
  font-size: 24px;
  animation: flyUp 2s ease forwards;
  pointer-events: none;
  user-select: none;
  filter: drop-shadow(0 0 2px #f00);
}

@keyframes flyUp {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-120px) scale(1.5);
  }
}
