.sidebar {
  width: 220px;
  min-height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
}

.home-feed {
  margin-left: 220px;
  padding: 20px;
}

.list{
  margin-left: 20px;
  margin-top: 20px;
}


.vibenet-logo{
  color: #077fe2;
  text: 2rem;
}